.gallery {
  margin: 85px 0 65px 0;

  &__title {
    @include sectionTitle($yellow, 35px);
    text-align: left;
    padding-top: 60px;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 380px);
    grid-gap: 1em;
  }

  &__item {
    width: 380px;
    max-height: 460px;

    img {
      max-width: 100%;
      height: auto;
      width: 100%;
      border-radius: 10px;
    }
  }
}
